@import '../../styles/base.scss';

.subtitle-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  .subtitle {
    display: flex;
    .underlined-word {
      margin-right: 5px;
    }
    .underline {
      background-color: #0eb3f1;
      height: 3px;
      width: 40px;
      margin-top: 5px;
    }
  }
  .button-language-change {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $secondary-color;
    color: white;
    font-size: 1rem;
    div {
      padding: 0.8rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .subtitle-container {
    justify-content: space-evenly;
    font-size: 1rem;
    .subtitle {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .subtitle-container {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .subtitle-container {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1200px) {
  .subtitle-container {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1400px) {
  .subtitle-container {
    font-size: 2rem;
  }
}