.feedback-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem 2rem;
}

.feedback-message-wrapper {
  box-shadow: 1px 1px 4px lightgrey;
  border-radius: 2px;
}

.main {
  display: grid;
  grid-template-columns: 6rem auto;
  .icon-container {
    align-self: center;
    justify-self: center;
  }
  .text-container {
    padding: 1rem 2rem 1rem 0;
  }
  .icon {
    font-size: 3rem;
  }
}

.footer {
  border-top: 1px solid lightgrey;
  display: flex;
  padding: 2rem 1rem;
  justify-content: flex-end;
}