@import "../../styles/base.scss";

.button {
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
}

.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

.secondary.fill {
  padding: 1rem;
  background-color: $secondary-color;
  color: white;
}

.secondary.fill.disabled {
  background-color: #002b4550;
  cursor: auto;
}

.icon-container {
  margin-left: 5px;
}
