.image-card-container {
  max-width: 300px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 150px;
    height: 150px;
  }

  p {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .image-card-container {
    max-width: 175px;
    img {
      width: 150px;
      height: 150px;
    }
  }
}

@media screen and (min-width: 992px) {
  .image-card-container {
    max-width: 200px;
    img {
      width: 175px;
      height: 175px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .image-card-container {
    max-width: 350px;
    img {
      width: 200px;
      height: 200px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .image-card-container {
    max-width: 500px;
    img {
      width: 250px;
      height: 250px;
    }
  }
}
