@import "../../styles/base.scss";

.connection-bar {
  background-color: #9aa0aa;
  height: 5px;
  width: 20px;
}

.connection-bar.hidden {
  visibility: hidden;
}

.connection-bar.passed {
  background-color: $primary-color;
}
