@import "../../styles/base.scss";

.step-number {
  align-items: center;
  background-color: #9aa0aa;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 1rem;
  justify-content: center;
  padding: 0.6rem;
  width: 1rem;
}

.step-number.selected-number {
  background-color: $secondary-color;
  padding: 1rem;
}

.step-number.passed {
  background-color: $primary-color;
}
