.step-item {
  position: relative;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-item {
  position: absolute;
  bottom: 0;
  color: white;
  width: 0px;
  height: 0px;
  border: 10px solid black;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: white;
  border-left-color: transparent;
}
