@import '../../styles/base.scss';

.product-information-container {
  padding: 1rem 6rem;
  .header {
    &-title {
      font-weight: bold;
      margin-top: 0;
    }
  }
  main {
    margin-top: 4rem;
    .image-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .privacy-policy-link {
      cursor: pointer;
      color: $primary-color;
    }
  }
}

@media screen and (max-width: 768px) {
  .product-information-container {
    text-align: center;
    padding: 1rem 1rem;
  }
}
