.form-container {
  padding: 1rem 3rem;
}

.form {
  display: grid;
  grid-template-rows: auto auto;
  label {
    font-weight: bold;
  }
  .password-group {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    margin-bottom: 2rem;
    .icon {
      cursor: pointer;
      position: absolute;
      right: 10px;
    }
    .password,
    .repeated-pass {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
    }
    .password-strength {
      height: 3px;
    }
    .password-strength.success {
      width: 100%;
      background-color: green;
    }
    .password-rules {
      color: red;
      font-size: 1rem;
      margin-top: 1rem;
      max-width: 275px;
    }
    .input-wrapper {
      position: relative;
      max-width: 275px;
    }
  }
  .hint-group > .hint {
    display: flex;
    flex-direction: column;
    .info-icon {
      margin-left: 4px;
      color: lightblue;
    }
    .hint-length {
      margin-top: 5px;
      color: lightgrey;
      text-align: end;
    }
    .hint-rules {
      color: red;
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
  .input-wrapper {
    align-items: center;
    min-width: 275px;
    border: 1px solid lightgrey;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    border-radius: 2px;
    margin-top: 5px;
    input {
      border: none;
      margin: 0.7rem 2rem 0.7rem 1rem;
    }
    input:focus-visible {
      outline: none;
    }
  }
}
